@import url('../../libs/gridstack/dist/gridstack.css');
@import url('/client/style/navbar.css');
@import url('/client/style/widgets/trades.css');
@import url('/client/style/widgets/ticker.css');
@import url('/client/style/widgets/charts/heatmap.css');

body {
	background: #DCE0E4;
	margin: 0;
}

.grid-stack {
	margin: 1em;
}

.grid-stack-item {
}

.grid-stack-item-content {
	background: #F5F6F7;
}




