<div id="kaikowidget_ticker">
	<div id='embedticker'> Click to embed this widget ! </div>
	<select id="tickerSwitch">
		<option value="bitstamp"> Bitstamp </option>
		<option value="huobi" selected> Huobi </option>
		<option value="coinbase"> Coinbase </option>
		<option value="bitfinex"> Bitfinex </option>
		<option value="btcchina" > Btcchina </option>
	</select>
	<a target="_blank" href="https://www.kaiko.com">
		<img id="poweredbykaiko" src="../client/imgs/watermark.png" width='55' height='9'> </img>
	</a>
	<section id="kaikowidget_ticker_list" >
	</section>
</div>