<div>
	<h2> Last trades for <%=exchange%></h2>
	<h3> Pair :  <%=data.symbol%> </h3>
	<ul>
		<li> <%=data.date%> </li>
		<li> Amount:<%=data.amount%> </li>
		<li> Price:<%=data.price%> </li>
		<li> Sell:<%=data.sell%> </li>
	</ul>
</div>













<!-- <!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<div>
			It's a widget!
		</div>
		<div>
			<div id="price"> </div>
		</div>
	</body>

	<script src="../client/js/ticker.js" > </script>
	<link rel="stylesheet" type="text/css" href="../client/style/ticker.css"/>
</html> -->