

<div id="kaikowidget_trade">
	<div id='embedtrades'> Click to embed this widget ! </div>
	<select id="tradeSwitch">
		<option value="bitstamp"> Bitstamp </option>
		<option value="huobi"> Huobi </option>
		<option value="coinbase" selected> Coinbase </option>
		<option value="bitfinex"> Bitfinex </option>
		<option value="btcchina"> Btcchina </option>
	</select>
	<a target="_blank" href="https://www.kaiko.com">
		<img id="poweredbykaiko" src="../client/imgs/watermark.png" width='55' height='9'> </img>
	</a>
	<table id="kaikowidget_trade_table" >
		<thead>
			<th> Amount </th>
			<th> Price  </th>
			<th> Time		</th>
		</thead>
		<tbody id="kaikowidget_trade_list" >

		</tbody>
		</table>
</div>
