#embedticker {
	padding: 0.5em 0 0.3em 1em;
	background: #CBD3D0;
	color: rgb(23, 36, 76);
	font-weight: 900;
	font-size: 0.9em;
}


#embedticker textarea {
	width:250px;
	height:1em;
}

#kaikowidget_ticker {
	background: #F5F6F7;
	min-height:200px;
}

#kaikowidget_ticker_list {
	list-style-type: none;
	padding-left: 1em;
	padding-top: 1em;
}

#ticker_last {
	font-size:3em;
	color:#17242D;
}

.volume {
	color:rgb(23, 36, 45);
}

#tickerSwitch {
	width: 100px;
	margin-top: 1em;
	margin-left: 1em;
	background: white;
	color: #004756;
	border: 1px solid;
	border-color: rgb(169, 169, 169 );
}

#ticker_currency {
	font-size: 0.5em;
}