body {
	margin:0;
}

#embedtrades {
	padding: 0.5em 0 0.3em 1em;
	background: #1D1C1B;
	color: white;
	font-weight: 900;
	font-size: 0.9em;
}


#embedtrades textarea {
	width:250px;
	height:1em;
}

#kaikowidget_trade {
	background: #17242D;
	min-height:200px;
}

#kaikowidget_trade_table {table-layout:fixed; width:250px;}
#kaikowidget_trade_table td {overflow:hidden;}
#kaikowidget_trade_table td:nth-of-type(1) {width:40px;}
#kaikowidget_trade_table td:nth-of-type(2) {width:40px;}
#kaikowidget_trade_table td:nth-of-type(3) {width:40px;}
#kaikowidget_trade_table td:nth-of-type(4) {width:40px; padding-left:1em;}

#kaikowidget_trade_table {
	margin-left: 1em;
	color: white;
	/*border-collapse: separate;
	/*border-spacing: 10px 0;*/
}

#kaikowidget_trade_table th {
	text-align: left;
	font-size: 0.8em;
}

#kaikowidget_trade_table td {
	/*padding: 10px 0;*/
}

#kaikowidget_trade_list > thead {
	color: red;
}

#exchangeSwitch {
	width: 100px;
	margin-top: 1em;
	margin-left: 1em;
	background: white;
	color: #004756;
	border: 0.5px solid;
	border-color: rgb(169, 169, 169 );
}

#poweredbykaiko {
	float:right;
	margin-top: 1em;
	margin-right: 1em;
}

.down {
	color: #c0392b;
}

.up {
	color: #a0b457;
}

.fa-caret-down {
	color: #c0392b;
}

.fa-caret-up {
	color: #a0b457;
}